body {
    font-family: 'Jua', sans-serif;
    font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.role1 {
    background-color: #E3F4F3;
    display: flex;
    align-items: center;
    overflow: hidden;
    bottom: 20px;
    position: relative;
    top: -10px;
}
.role2 {
    background-color: #F5F4F0;
    display: flex;
    align-items: center;
    overflow: hidden;
    bottom: 20px;
    position: relative;
    top: -10px;
}
.role3 {
    background-color: #EEF8F9;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: -10px;
}

.role-img {
    max-width: 100%;
    height: 800px;
}

.clip-shape {
    clip-path: inset(20px 50px 20px 50px);
    max-width: 1200px;
}

.role h1 {
    font-size: 2em;
    color: #1e90ff;
    margin: 0 0 10px 0;
    text-align: center;
    flex: 1;
}

.illustration1 {
    width: 450px;
    height: 750px;
    background-size: cover;
    background-position: 500px;
    margin-right: 20px;
}

.illustration2 {
    width: 450px;
    height: 750px;
    background-size: cover;
    background-position: 980px;
    margin-right: 20px;
}

.illustration3 {
    width: 450px;
    height: 750px;
    background-size: cover;
    background-position: 540px;
    margin-right: 20px;
}

.software-engineer .illustration1 {
    background-image: url('/Pictures/b (1).jpeg');
}
.software-developer .illustration2 {
    background-image: url('/Pictures/b (2).jpeg');
}
.web-developer .illustration3 {
    background-image: url('/Pictures/b (4).jpeg');
}

.content {
    flex: 3;
}

.content h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    color: #025D4B;
    margin-bottom: 100px;
    margin: 0 0 15px 0;
    /* margin-left: 100px; */
}

.content p {
    font-size: 18px;
    color: #025D4B;
    margin: 0 0 30px 0;
}

.skills {
    margin-top: 10px;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}

.skills h3 {
    font-size: 30px;
    color: #025D4B;
    margin-bottom: 15px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    font-size: 18px;
    color: #025D4B;
    margin-top: 15px;
    position: relative;
    padding-left: 15px;
}

.skills ul li:before {
    content: "•";
    color: #025D4B;
    position: absolute;
    left: 0;
}

.content2 {
    flex: 3;
    margin: 20px;
}

.content2 h2 {
    text-decoration: underline;
    font-size: 40px;
    color: #6C4200;
    margin: 0 0 15px 0;
    /* margin-left: 205px; */
}

.content2 p {
    font-size: 18px;
    color: #6C4200;
    margin: 0 0 30px 0;
}

.skills2 {
    margin-top: 10px;
}

.skill-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}

.skills2 h3 {
    font-size: 30px;
    color: #6C4200;
    margin-top: 15px;
}

.skills2 ul {
    list-style-type: none;
    padding: 0;
}

.skills2 ul li {
    font-size: 18px;
    color: #6C4200;
    margin-top: 15px;
    position: relative;
    padding-left: 15px;
}

.skills2 ul li:before {
    content: "•";
    color: #6C4200;
    position: absolute;
    left: 0;
}

.content3 {
    flex: 3;
    margin: 20px;
}

.content3 h2 {
    text-decoration: underline;
    font-size: 40px;
    color: #025D4B;
    margin: 0 0 30px 0;
    /* margin-left: 205px; */
}

.content3 p {
    font-size: 18px;
    color: #025D4B;
    margin: 0 0 30px 0;
}

.skills3 {
    margin-top: 10px;
}

.skill-box3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}

.skills3 h3 {
    font-size: 30px;
    color: #025D4B;
    margin-top: 15px;
}

.skills3 ul {
    list-style-type: none;
    padding: 0;
}

.skills3 ul li {
    font-size: 18px;
    color: #025D4B;
    margin-top: 15px;
    position: relative;
    padding-left: 15px;
}

.skills3 ul li:before {
    content: "•";
    color: #025D4B;
    position: absolute;
    left: 0;
}