body {
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
    font-family:  'Phetsarath OT', sans-serif;
}

.header {
    background: linear-gradient(to bottom,#6A88BC,  #505BCF);
    color: rgb(0, 0, 0);
    max-width: 100%;
    padding:  25px 25px 25px 25px;
}

.header h1 {
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.603);
}

.panal {
    background-color: rgba(255, 254, 254, 0.856);
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 20px;
}

.panal p {
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.603);
}

.Job {
    margin-top: 150px;
}